.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: -webkit-xxx-large;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-light .navbar-brand {
    color: rgba(251, 255, 0, 0.9);
    font-family: cursive;
    text-align: center;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    padding-top: 2rem;
}

.bg-light {
    background-color: #4044ffab!important;
}

.jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
    background-image: url("https://ak.picdn.net/shutterstock/videos/1034569973/thumb/1.jpg?ip=x480");
    background-repeat: no-repeat;
    background-size: cover;
}

.display-4 {
   
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.2;
        text-align: center;
        margin-top: -2rem;

}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    font-size: inherit;
    color: rgb(0, 0, 0);
}

.lead {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    max-height: 1rem;
    margin-bottom: 0;
    color: rgb(0, 0, 0);
}